.product{
    display: flex;
    border-bottom: 1px solid lightgray;
   
}
.product-name{
    color: blue;
    font-weight: 00;
}
.btn{
    background-color: goldenrod;
    border: 1px solid lightgray;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    
}
.product-details{
    text-align: start;
}